@font-face {
    font-family: "Open Sans";
    src: url("/fonts/open-sans-300.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Roboto Slab";
    src: url("/fonts/roboto-slab-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}